@using LitStar.Services.ViewModels;
@using LitStar.Controllers.ViewModels;
@using System.Drawing;
@using EO.Pdf;
@using LitStar.Core.Security;


@model LitStar.Controllers.ViewModels.UserAccount.UserAccountView


@{
    ViewBag.Title = "LitStar - Literacy Program Management";
}
@section featured {
<script src="~/Scripts/plugins/charts/jquery.flot.resize.js"></script>
<script src="~/Scripts/plugins/charts/jquery.flot.pie.js"></script>
<script src="~/Scripts/plugins/charts/jquery.flot.threshold.js"></script>
<script src="~/Scripts/plugins/charts/jquery.flot.orderBars.js"></script>
<script src="~/Scripts/plugins/charts/jquery.flot.fillbetween.js"></script>
<script src="~/Scripts/charts/chart.js"></script>
<script src="~/Scripts/charts/bar.js"></script>
<script src="~/Scripts/charts/hBar.js"></script>
<script src="~/Scripts/charts/pie.js"></script>
<script src="~/Scripts/charts/updating.js"></script>
<script src="~/Scripts/charts/filled.js"></script>
<script src="~/Scripts/charts/threshold.js"></script>
    
    <section class="featured">
        <div class="page-header"><!-- Page header -->
            <h5><i class="icon-th-large"></i>Dashboard</h5>
            @*<ul class="icons">
                <li><a href="#" title="My tasks"><i class="font-tasks"></i><span>Tasks</span></a></li>
                <li>/</li>
                <li><a href="#" title="My tasks"><i class="font-refresh"></i><span>Reload data</span></a></li>
                <li>/</li>
                <li><a href="#" title="My tasks" class="dropdown-toggle" data-toggle="dropdown"><i class="font-cog"></i><span>Settings <b class="caret"></b></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                    </ul>
                </li>
            </ul>*@
        </div><!-- /page header -->

        <div class="alert alert-info semi-block">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h4>Welcome To LitStar!</h4>
        This is what an info or help container would look like.  Here is some random text to fill up the area.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit.
    </div>

        <div class="body">

            <!-- Line chart -->
			<div class="block well">
                <div class="navbar">
                	<div class="navbar-inner">
                        <h5>Line chart</h5>
                        <div class="nav pull-right">
                            <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="chart with-legend" id="chart"></div>
                </div>
            </div>
            <!-- /line chart -->

            <div class="row-fluid">
            	<div class="span6">
                    <!-- Vertical bars -->
                	<div class="block well">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <h5>Vertical bars</h5>
                                <div class="nav pull-right">
                                    <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="chart" id="placeholder1"></div>
                        </div>
                    </div>
                    <!-- /vertical bars -->
                    
                    <!-- Threshold chart -->
                    <div class="block well">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <h5>Threshold chart</h5>
                                <div class="nav pull-right">
                                    <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                                <p class="well-smoke body">With the threshold plugin, you can apply a specific color to the part of a data series below a threshold. This is can be useful for highlighting negative values, e.g. when displaying net results or what's in stock.</p>
                                <div class="chart" id="placeholder-threshold"></div>
                                <div class="threshold-buttons well-smoke body">
                                    <input type="button" class="btn btn-info" value="Threshold at 5">
                                    <input type="button" class="btn btn-info" value="Threshold at 0">
                                    <input type="button" class="btn btn-info" value="Threshold at -2.5">
                                </div>
                        </div>
                    </div>
                    <!-- /threshold chart -->
                </div>
                
                <div class="span6">
                	<!-- Horizontal bars -->
                	<div class="well block">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <h5>Horizontal bars</h5>
                                <div class="nav pull-right">
                                    <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="chart" id="placeholder1_h"></div>
                        </div>
                    </div>
                    <!-- /horizontal bars -->
                    
                    <!-- Filled chart -->
                    <div class="well block">
                    	<div class="navbar">
                            <div class="navbar-inner">
                                <h5>Filled chart</h5>
                                <div class="nav pull-right">
                                    <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <p class="well-smoke body">For each point of a filled curve, you can specify an arbitrary bottom. As this example illustrates, this can be useful for plotting percentiles. If you have the data sets available without appropriate fill bottoms, you can use the fillbetween plugin to compute the data point bottoms automatically.</p>
                            <div class="chart with-annotation" id="placeholder-fill"></div>
                        </div>
                    </div>
                    <!-- Filled chart -->
                </div>
            </div>

            <div class="row-fluid">
            	<div class="span4">
                	<!-- Donut chart -->
                	<div class="well block">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <h5>Donut chart</h5>
                                <div class="nav pull-right">
                                    <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="chart" id="donut"></div>
                        </div>
                    </div>
                    <!-- /donut chart -->
                </div>
                
                <div class="span8">
                	<!-- Auto updating chart -->
                	<div class="block well">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <h5>Auto updating</h5>
                                <div class="nav pull-right">
                                    <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                        <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                        <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="chart" id="updating"></div>
                        </div>
                    </div>
                    <!-- /auto updating chart -->
                </div>
            </div>

            
            <!-- Timeline messages -->
            <div class="block well">
                <div class="navbar">
                    <div class="navbar-inner">
                        <h5>Timeline style</h5>
                        <div class="nav pull-right">
                            <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            	<div class="body">
                    <div class="timeline-messages">
                    
                    	<!-- Comment -->
                        <div class="message">
                            <a class="message-img" href="#"><img src="http://www.gravatar.com/avatar/00000043000000200003030100000000?d=identicon&s=44" alt="" /></a>
                            <div class="message-body">
                                <div class="text">
                                    <p>
                                        @Model.Message 
                                        @Html.ActionLink("Print PDF", "PrintPdf", "Home")  @SecurityContextManager.Current.CurrentUser.Username
                                    </p>
                                </div>
                                <p class="attribution">by <a href="#non">Danny Schreiber</a> at 14:23pm, 4th Dec 2010</p>
                            </div>
                        </div>
                        <!-- /comment -->
                        
                        <!-- Comment -->
                        <div class="message">
                            <a class="message-img" href="#"><img src="http://www.gravatar.com/avatar/000000432500000200003030100000000?d=identicon&s=44" alt="" /></a>
                            <div class="message-body">
                                <div class="text">
                                    <p>This is a much longer one that will go on for a few lines.</p>
                                    <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                                </div>
                                <p class="attribution">by <a href="#non">Briana Poronowicz</a> at 14:23pm, 4th Dec 2010</p>
                            </div>
                        </div>
                        <!-- /comment -->
                        
                        <!-- Comment -->
                        <div class="message">
                            <a class="message-img" href="#"><img src="http://www.gravatar.com/avatar/00000543000000200003030100000000?d=identicon&s=44" alt="" /></a>
                            <div class="message-body">
                                <div class="text">
                                    <p>This is a much longer one that will go on for a few lines.</p>
                                    <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                                </div>
                                <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
                            </div>
                        </div>
                        <!-- /comment -->
                        
                        <!-- Comment -->
                        <div class="message">
                            <a class="message-img" href="#"><img src="http://www.gravatar.com/avatar/00000043000000200003030100000000?d=identicon&s=44" alt="" /></a>
                            <div class="message-body">
                                <div class="text">
                                    <p>This is a much longer one that will go on for a few lines.</p>
                                    <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                                </div>
                                <p class="attribution">by <a href="#non">Danny Schreiber</a> at 14:23pm, 4th Dec 2010</p>
                            </div>
                        </div>
                        <!-- /comment -->
                        
                    </div>​
                    
                    <!-- Enter message input -->
                    <div class="enter-message">
                        <textarea name="enter-message" class="auto" rows="3" cols="1" placeholder="Enter your message..."></textarea>
                        <div class="message-actions">
                            <div class="user-is-typing"><img src="images/elements/loaders/8s.gif" alt="" />Danny is typing...</div>
                            <div class="send-button">
                                <a href="#" title="" class="attach-photo"></a>
                                <a href="#" title="" class="attach-link"></a>
                                <input type="submit" name="send-message" class="btn btn-danger" value="Send" />
                            </div>
                        </div>
                    </div>
                    <!-- /enter message input -->
                    
                </div>
            </div>
            <!-- /timeline messages -->
            
            <div class="separator-doubled"></div>
            
            <!-- Standard messages -->
            <div class="block well">
                <div class="navbar">
                    <div class="navbar-inner">
                        <h5>Messages</h5>
                        <div class="nav pull-right">
                            <a href="#" class="dropdown-toggle just-icon" data-toggle="dropdown"><i class="font-cog"></i></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#"><i class="font-heart"></i>Favorite it</a></li>
                                <li><a href="#"><i class="font-refresh"></i>Reload page</a></li>
                                <li><a href="#"><i class="font-link"></i>Attach something</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="body">
                	
                    <!-- Messages -->
                    <ul class="messages">
                    
                    	<!-- Message -->
                        <li class="by-user">
                            <a href="#" title=""><img src="images/live/face1.png" alt="" /></a>
                            <div class="area">
                                <span class="arrow"></span>
                                <div class="info-row">
                                    <span class="pull-left"><strong>Danny</strong> says:</span>
                                    <span class="pull-right">3 hours ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. 
                                Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit</p>
                            </div>
                        </li>
                        <!-- /message -->
                        
                        <!-- Message -->
                        <li class="by-me">
                            <a href="#" title=""><img src="images/live/face2.png" alt="" /></a>
                            <div class="area">
                                <span class="arrow"></span>
                                <div class="info-row">
                                    <span class="pull-left"><strong>Briana</strong> says:</span>
                                    <span class="pull-right">3 hours ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. 
                                Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit</p>
                            </div>
                        </li>
                        <!-- /message -->
                        
                        <!-- Message -->
                        <li class="by-me">
                            <a href="#" title=""><img src="images/live/face2.png" alt="" /></a>
                            <div class="area">
                                <span class="arrow"></span>
                                <div class="info-row">
                                    <span class="pull-left"><strong>Briana</strong> says:</span>
                                    <span class="pull-right">3 hours ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. 
                                Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit</p>
                            </div>
                        </li>
                        <!-- /message -->
                        
                        <!-- Message -->
                        <li class="by-user">
                            <a href="#" title=""><img src="images/live/face1.png" alt="" /></a>
                            <div class="area">
                                <span class="arrow"></span>
                                <div class="info-row">
                                    <span class="pull-left"><strong>Danny</strong> says:</span>
                                    <span class="pull-right">3 hours ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. 
                                Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit</p>
                            </div>
                        </li>
                        <!-- /message -->
                        
                        <!-- Message -->
                        <li class="by-me">
                            <a href="#" title=""><img src="images/live/face2.png" alt="" /></a>
                            <div class="area">
                                <span class="arrow"></span>
                                <div class="info-row">
                                    <span class="pull-left"><strong>Briana</strong> says:</span>
                                    <span class="pull-right">3 hours ago</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel est enim, vel eleifend felis. Ut volutpat, leo eget euismod scelerisque, eros purus lacinia velit, nec rhoncus mi dui eleifend orci. 
                                Phasellus ut sem urna, id congue libero. Nulla eget arcu vel massa suscipit ultricies ac id velit</p>
                            </div>
                        </li>
                        <!-- /message -->
                        
                    </ul>
                    <!-- /messages -->
                    
                    <div class="enter-message-divider"></div>
                    
                    <!-- Enter message input -->
                    <div class="enter-message">
                        <textarea name="enter-message" class="auto" rows="3" cols="1" placeholder="Enter your message..."></textarea>
                        <div class="message-actions">
                            <div class="user-is-typing"><img src="images/elements/loaders/8s.gif" alt="" />Danny is typing...</div>
                            <div class="send-button">
                                <a href="#" title="" class="attach-photo"></a>
                                <a href="#" title="" class="attach-link"></a>
                                <input type="submit" name="send-message" class="btn btn-danger" value="Send" />
                            </div>
                        </div>
                    </div>
                    <!-- /enter message input -->
                    
                </div>
            </div>
            <!-- /standard messages -->
            
        </div>
    </section>
}
